@font-face {
    font-family: 'Dune Rise';
    src: url('Dune_Rise.woff2') format('woff2'),
        url('Dune_Rise.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hybrid';
    src: url('HybridBold.woff2') format('woff2'),
        url('HybridBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dune Rise';
    src: url('Dune_Rise.woff2') format('woff2'),
        url('Dune_Rise.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hybrid';
    src: url('HybridOutline.woff2') format('woff2'),
        url('HybridOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

